// Navigation Styles here


nav {
    // margin-left: 250px;

    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    // align-content: flex-end;
    // align-self: flex-end;
    width: 100%;

    a {
        text-decoration: none;
        justify-content: flex-start;
        color: black;
        font-size: 2rem;
        margin-left: 20px;
        ;
    }

    // .logo {
    //     display: flex;
    //     margin-top: 40px;

    // }
}

// end of nav